.important {
    font-size: xx-large;
    color: darkred;
    font-style: italic
}
button {
    background-color: forestgreen;
    outline: none;
    border: 1.5px;
    color: #fff;
    width: 20%;
    padding: .7rem 1rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: large;
}
.form-wrapper > input {
    width: 30%;
    padding: .8rem .5rem;
    outline: none;
    border: 1.5px solid #111;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 100%;
    align-items: center;
} 
.jumbotron > p {
    font-size: large;
   
}
.jumbotron > h1 {
    color:darkslategray

}
.form-wrapper {
    gap: 2%;
}

.container {
padding-right: 30px;
padding-left: 30px;
max-width: 1440px;
margin: auto;

}