.important {
    font-size: xx-large;
    color: darkred;
    font-style: italic
}
.form-wrapper > div > button {
    background-color: forestgreen;
    outline: none;
    border: none;
    color: #fff;
    width: 12%;
    padding: .5rem 1rem;
    border-radius: .2rem;
    font-weight: 600;
    font-size: large;
}
.form-wrapper > div > input {
    width: 15%;
    padding: .8rem .5rem;
    outline: none;
    border: 1.5px solid #111;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 100%;
    align-items: center;
} 
.hero-content {
    font-size: large;
   
}
.hero-content > h1 {
    color:darkslategray
}
.form-wrapper {
    gap: 2%;
}

